.gridCss:nth-child(odd) {
  grid-area: 3/2;
}

/*@media (max-width: 680px) {
  .gridCss:nth-child(odd) {
    grid-area: 5/1;
  }
}*/

@media (max-width: 780px) {
  .gridCss:nth-child(odd) {
    grid-area: 5/1;
  }
}
